@charset "UTF-8";

ul#album_fotos{
	width: 700px;
	margin: 0 auto;
	padding:50px;
	overflow: hidden;
	list-style: none;
}

/* Float left faz cada elemento da lista ficar um do lado do outro */
ul#album_fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin:10px;
	border: 5px solid #fff;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in; /*dar efeito de zoom mais devagar e "crescer" a imagem*/
}


ul#album_fotos li span{
	opacity: 0;	/* esconder a legenda*/
	color: #fff;
	text-shadow: 1px 1px 1px #000; /*para que a legenda fique com 1px de sombra preta */
	background-color: rgba(0,0,0,.3); /*preto meio transparente*/
	line-height: 370px; /*para que a legenda vá para baixo*/
	font-size: 9pt;
	padding: 5px; /*aumentar a largura da legenda*/
}
ul#album_fotos li:hover{
	-webkit-transform: scale(1.5); /*dar efeito de zoom nas imagens*/
}

ul#album_fotos li:hover span{
	opacity: 1;
}/* toda vez que passo o mouse a legenda aparece*/

ul#album_fotos li#foto01:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}
ul#album_fotos li#foto02:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}
ul#album_fotos li#foto03:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}
ul#album_fotos li#foto04:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}
ul#album_fotos li#foto05:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}
ul#album_fotos li#foto06:hover {
	background-position: 0px 0px; /*quando o mouse passar por cima da foto, ela sairá do meio e irá para o começo da imagem*/
	background-size: 200px 200px; /* será reduzido o tamanho da imagem*/
}

ul#album_fotos li#foto01{
	background: url('../_imagens/galeria-01.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}

ul#album_fotos li#foto02{
	background: url('../_imagens/galeria-02.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}

ul#album_fotos li#foto03{
	background: url('../_imagens/galeria-03.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}
ul#album_fotos li#foto04{
	background: url('../_imagens/galeria-04.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}

ul#album_fotos li#foto05{
	background: url('../_imagens/galeria-05.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}

ul#album_fotos li#foto06{
	background: url('../_imagens/galeria-06.jpg') no-repeat;
	background-position: 50% 50%; /*vai ter 50% na horizontal e vertical*/
	background-size: 400px 400px;
	background-color: #fff;
}