@charset "UTF-8";

section#conteudo{
	width: 1000px;
	margin: auto; /*centraliza o conteúdo na tela */
}
iframe#frame-spec {
	width: 400px;
	height:280px;
	border:none;
	overflow: hidden;03,

}

iframe#frame-spec::-webkit-scrollbar{
	display: none;
}