@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-serif.otf");
}

body {
	background-color: #ddd;
	color: rgba(0,0,0,1);
	font-family: Arial;
}

div#interface {
	width: 900px;
	background-color: #fff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding:10px;
}

p {
	text-align:justify;
	text-indent:50px;
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size:30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: Arial, sans-serif;
	font-size:15pt;
	color: #888;
	margin-top:0px;
	font-family:'Titillium Web', sans-serif;
}
header#cabecalho img#icon{
	position: absolute;
	left: 950px;
	top: 70px;
}

/*Formatação de Imagens em css*/
figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width:100%;
	height:100%;
}

figure.foto-legenda figcaption {
	opacity:0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width:100%;
	height:100%;
	padding:10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}


/*Formatação do menu*/
nav#menu {
	display:block; /*Faz com que o meu menu flutue*/
}

nav#menu ul {
	list-style:none;
	text-transform: uppercase;
	position: absolute; /*Faz com que apenas a minha lista flutue e passe por cima do elementos*/
	top: -20px;
	left: 430px;
}

nav#menu li {
	display:inline-block; /*Deixa o menu em formato horizontal*/
	background-color: #dddddd;
	padding:10px; /*Espaço entre o conteúdo*/
	margin: 2px; /*Espaço fora do conteúdo*/
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display:none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color:#ffffff;
	text-decoration: underline;
}

/*Formatação da seção*/
section#corpo{
	display: block;
	width: 500px;
	float:left;
	padding-right: 20px;
	border-right: 1px solid #606060;
}
article#noticia_principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #ddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family:'FonteLogo', sans-serif;
	font-size:20pt;
	color: #606060;
	margin-bottom:0px;
}

header#cabecalho-artigo h2{
	font-size:13pt;
	color:#cecece;
	background-color: #fff;
	margin:0px;
}

header#cabecalho-artigo h3{
	font-size:12px;	
}

.direita {
	text-align: right;
}
table#tabela_spec{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabela_spec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabela_spec td.ce {
	color: #fff;
	background-color: #606060;
	vertical-align: top;
}

table#tabela_spec td.cr {
	background-color: #cecece;

}

table#tabela_spec caption {
	color:#888;
	font-size:13px;
	font-weight: bold;
}

/*No caso ambos seletores são caption, e o atributo span está sendo utilizado para aplicar estilo em apenas um trecho da frase*/ 
table#tabela_spec caption span{
	display: block;
	float:right;
	color: #000;
	font-size: 8pt;
	margin-top: 10px;
}
aside#lateral {
	display:block;
	width: 350px;
	float: right;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size:20pt;
	color: #606060;

}


aside#lateral h2 {
	background-color: #606060;
	font-size:13pt;
	color: #fff;
	padding: 5px;
}

 article video#filme1 {
	display:block;
	position:relative;
	width: 500px;
	bottom: 5px;
}

aside#lateral video#filme2{
	display: block;
	position: relative;
	width:345px;
	top: 5px;
}
footer#rodape {
	clear:both; /*Em relação ao aside e a section*/ 
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}